# Data Structures

 * https://docs.python.org/3/tutorial/datastructures.html

In [1]:
ninjas = [
    'Hattori Hanzō',
    'Kumawakamaru',
    'Yagyū Munetoshi',
    'Hattori Hanzō',
    'Ishikawa Goemon',
    'Fūma Kotarō',
    'Mochizuki Chiyome',
    'Momochi Sandayū',
    'Fujibayashi Nagato',
    'Hattori Hanzō'
]

## Mutable Lists

In [2]:
ninjas

['Hattori Hanzō',
 'Kumawakamaru',
 'Yagyū Munetoshi',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Fūma Kotarō',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Fujibayashi Nagato',
 'Hattori Hanzō']

In [3]:
ninjas.count('Hattori Hanzō')

3

In [4]:
ninjas.count('Homma Saburō')

0

In [5]:
ninjas.index('Yagyū Munetoshi')

2

In [6]:
ninjas.index('Hattori Hanzō')

0

In [7]:
ninjas.index('Hattori Hanzō', 1) # Find next ninja starting at position 1

3

In [8]:
ninjas.index('Hattori Hanzō', 4) # Find next ninja starting at position 4

9

In [9]:
ninjas.reverse()

ninjas

['Hattori Hanzō',
 'Fujibayashi Nagato',
 'Momochi Sandayū',
 'Mochizuki Chiyome',
 'Fūma Kotarō',
 'Ishikawa Goemon',
 'Hattori Hanzō',
 'Yagyū Munetoshi',
 'Kumawakamaru',
 'Hattori Hanzō']

In [10]:
ninjas.reverse()

ninjas

['Hattori Hanzō',
 'Kumawakamaru',
 'Yagyū Munetoshi',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Fūma Kotarō',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Fujibayashi Nagato',
 'Hattori Hanzō']

In [11]:
ninjas.append('Kamiizumi Ise-no-Kami Nobutsuna')

ninjas

['Hattori Hanzō',
 'Kumawakamaru',
 'Yagyū Munetoshi',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Fūma Kotarō',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Fujibayashi Nagato',
 'Hattori Hanzō',
 'Kamiizumi Ise-no-Kami Nobutsuna']

In [12]:
ninjas.pop()

'Kamiizumi Ise-no-Kami Nobutsuna'

In [13]:
ninjas

['Hattori Hanzō',
 'Kumawakamaru',
 'Yagyū Munetoshi',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Fūma Kotarō',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Fujibayashi Nagato',
 'Hattori Hanzō']

In [14]:
ninjas.sort()
    
ninjas

['Fujibayashi Nagato',
 'Fūma Kotarō',
 'Hattori Hanzō',
 'Hattori Hanzō',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Kumawakamaru',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Yagyū Munetoshi']

### Lists as stacks

In [15]:
ninjas = list(set(ninjas))

ninjas

['Momochi Sandayū',
 'Fūma Kotarō',
 'Fujibayashi Nagato',
 'Yagyū Munetoshi',
 'Mochizuki Chiyome',
 'Kumawakamaru',
 'Ishikawa Goemon',
 'Hattori Hanzō']

In [16]:
ninjas.append('Guido van Rossum')

ninjas

ninjas.insert(len(ninjas), 'Guido van Rossum')

ninjas

['Momochi Sandayū',
 'Fūma Kotarō',
 'Fujibayashi Nagato',
 'Yagyū Munetoshi',
 'Mochizuki Chiyome',
 'Kumawakamaru',
 'Ishikawa Goemon',
 'Hattori Hanzō',
 'Guido van Rossum',
 'Guido van Rossum']

In [17]:
ninjas.pop()

ninjas

['Momochi Sandayū',
 'Fūma Kotarō',
 'Fujibayashi Nagato',
 'Yagyū Munetoshi',
 'Mochizuki Chiyome',
 'Kumawakamaru',
 'Ishikawa Goemon',
 'Hattori Hanzō',
 'Guido van Rossum']

### Lists as queues

In [18]:
from collections import deque

queue = deque([
    'Hattori Hanzō',
    'Fūma Kotarō',
    'Momochi Sandayū'
])

queue

deque(['Hattori Hanzō', 'Fūma Kotarō', 'Momochi Sandayū'])

In [19]:
queue.append('Guido van Rossum')

queue

deque(['Hattori Hanzō', 'Fūma Kotarō', 'Momochi Sandayū', 'Guido van Rossum'])

In [20]:
queue.popleft()

queue

deque(['Fūma Kotarō', 'Momochi Sandayū', 'Guido van Rossum'])

#### insert(0, new) and pop(0)

In [21]:
ninjas.insert(0, 'Guido van Rossum')

ninjas

['Guido van Rossum',
 'Momochi Sandayū',
 'Fūma Kotarō',
 'Fujibayashi Nagato',
 'Yagyū Munetoshi',
 'Mochizuki Chiyome',
 'Kumawakamaru',
 'Ishikawa Goemon',
 'Hattori Hanzō',
 'Guido van Rossum']

In [22]:
ninjas.pop(0)

ninjas

['Momochi Sandayū',
 'Fūma Kotarō',
 'Fujibayashi Nagato',
 'Yagyū Munetoshi',
 'Mochizuki Chiyome',
 'Kumawakamaru',
 'Ishikawa Goemon',
 'Hattori Hanzō',
 'Guido van Rossum']

### List Comprehensions

In [23]:
quote = "You talkin' to me?".split()

data = list(map(lambda q: [q, q.title(), len(q)], quote))

data

[['You', 'You', 3],
 ["talkin'", "Talkin'", 7],
 ['to', 'To', 2],
 ['me?', 'Me?', 3]]

 * It is often preferable to use a list comprehension, because this is more efficient and easier to read, most of the time.

 * We can think of list comprehensions as syntactic sugar for a filter followed by a map.

In [24]:
quote = "You talkin' to me?".split()

data = [
    [
        q, 
        q.title(), 
        len(q)
    ]
    for q in quote
]

data

[['You', 'You', 3],
 ["talkin'", "Talkin'", 7],
 ['to', 'To', 2],
 ['me?', 'Me?', 3]]

In [25]:
numbers = range(1, 11)

odds = [
    n 
    for n in numbers 
    if n % 2 == 0
]

odds

[2, 4, 6, 8, 10]

#### Dynamic matrix

 * https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions

 * http://python-3-patterns-idioms-test.readthedocs.io/

In [26]:
matrix = [
    [
        1 if item_idx == row_idx else 0 
        for item_idx in range(0, 8)
    ]
    for row_idx in range(0, 8)
]

matrix

[[1, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 1]]

### Matrices

In [27]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[el - 1 for el in row] for row in matrix]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### Tuples

In [28]:
# Tuples are immutable.

data = (['2016-05-18T16:03:00Z', '2016-05-18T17:20:00Z', '2016-05-18T13:00:00Z'], [100, 2.5, 333])

payments = data[1];

conversion = [float(x) for x in payments]

result = list(zip(data[0], conversion))

result

[('2016-05-18T16:03:00Z', 100.0),
 ('2016-05-18T17:20:00Z', 2.5),
 ('2016-05-18T13:00:00Z', 333.0)]

In [29]:
# Yep, tuples are immutable.

data = (['2016-05-18T16:03:00Z', '2016-05-18T17:20:00Z', '2016-05-18T13:00:00Z'], [100, 2.5, 333])

# Lists are mutable.

mutable = list(data)

payments = data[1]

mutable[1] = [float(x) for x in payments]

tuples = list(zip(*mutable))

tuples

[('2016-05-18T16:03:00Z', 100.0),
 ('2016-05-18T17:20:00Z', 2.5),
 ('2016-05-18T13:00:00Z', 333.0)]

## Del

In [30]:
numbers = list(range(1, 11))

print(numbers)

del numbers[len(numbers) - 1]

print(numbers)

del numbers[0]

print(numbers)

del numbers[2:4]

print(numbers)

# []

del numbers[:]

print(numbers)

# Delete entire variable.

del numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 6, 7, 8, 9]
[]

## Immutable Tuples and Sequences

In [31]:
separated_by_commas = 333, 'three three three', [3, 6, 9], (3 ,6 ,9)

separated_by_commas

separated_by_commas[3]

separated_by_commas[3][2]

9

In [32]:
# It is possible to create tuples which contain mutable objects, such as lists.

my_tuple = ('cow', [333, 4, 6], (111, 222, 333))

# my_tuple[0] = 'dog'  =>  'tuple' object does not support item assignment.

my_tuple[1][0] = 2

# my_tuple[2][0] = 2  =>  'tuple' object does not support item assignment.

my_tuple

('cow', [2, 4, 6], (111, 222, 333))

In [33]:
first_tuple = 'one', 'two', 'three'

second_tuple = 1, 2, 3

third_tuple = 4.4, 5.5, 6.6

result = first_tuple + second_tuple + third_tuple

result

('one', 'two', 'three', 1, 2, 3, 4.4, 5.5, 6.6)

In [34]:
# Empty tuples are constructed by an empty pair of parentheses.

empty = ()

print(empty)

print(len(empty))

()
0

In [35]:
# A tuple with one item is constructed by following a value with a comma.

trailing_comma = 333,

print(trailing_comma)

print(len(trailing_comma))

(333,)
1

### Tuple Packing

In [36]:
vehicle = ('Tesla', 'Model 3', 2017)

print(vehicle)

(make, model, year) = vehicle

print(make, type(make))

print(model, type(model))

print(year, type(year))

('Tesla', 'Model 3', 2017)
Tesla <class 'str'>
Model 3 <class 'str'>
2017 <class 'int'>

In [37]:
# Swap the values of two variables.

min = 10

max = 1

(min, max) = (max, min)

print(min, type(min))

print(max, type(max))

1 <class 'int'>
10 <class 'int'>

In [38]:
# Tuples as return values.

def vehicle():
    get_make = 'Tesla'
    get_model = 'Model 3'
    get_year = 2017
    return (get_make, get_model, get_year)

(my_make, my_model, my_year) = vehicle()

print('{} {} {}'.format(my_make, my_model, my_year))

print('{2} {1} {0}'.format(my_make, my_model, my_year))

Tesla Model 3 2017
2017 Model 3 Tesla

## Sets

A set is an unordered collection with no duplicate elements.

In [39]:
# To create an empty set you have to use set(), not {}.

empty_set = set()

print(empty_set)

set()

In [40]:
chars = set('123,abc,abc,abc,123')

print(chars)

{'b', 'a', ',', '3', '2', 'c', '1'}

In [41]:
unique = set([1,2,3,4,5,4,3,2,1])

print(unique)

unordered = {7, 9, 6, 8, 4, 5, 10}

print(unordered)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9, 10}

In [42]:
# Fast membership testing.

'1' in unique

False

In [43]:
1 in unique

True

In [44]:
# Fast membership testing.

10 in unordered

True

In [45]:
# Numbers in unique but not in unordered.

unique - unordered

{1, 2, 3}

In [46]:
# Numbers in unordered but not in unique.

unordered - unique

{6, 7, 8, 9, 10}

In [47]:
{x for x in unique if x not in [1, 2, 3]}

{4, 5}

### List, Tuple and Set

In [48]:
numbers = range(1, 11)

print(list(numbers))

print(tuple(numbers))

print(set(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Set Comprehensions

In [49]:
numbers = set(range(1, 11))

print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}