# Data Structures

 * https://docs.python.org/3/tutorial/datastructures.html

In [1]:
ninjas = [
    'Hattori Hanzō',
    'Kumawakamaru',
    'Yagyū Munetoshi',
    'Hattori Hanzō',
    'Ishikawa Goemon',
    'Fūma Kotarō',
    'Mochizuki Chiyome',
    'Momochi Sandayū',
    'Fujibayashi Nagato',
    'Hattori Hanzō'
]

## Mutable Lists

In [2]:
ninjas

['Hattori Hanzō',
 'Kumawakamaru',
 'Yagyū Munetoshi',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Fūma Kotarō',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Fujibayashi Nagato',
 'Hattori Hanzō']

In [3]:
ninjas.count('Hattori Hanzō')

3

In [4]:
ninjas.count('Homma Saburō')

0

In [5]:
ninjas.index('Yagyū Munetoshi')

2

In [6]:
ninjas.index('Hattori Hanzō')

0

In [7]:
ninjas.index('Hattori Hanzō', 1) # Find next ninja starting at position 1

3

In [8]:
ninjas.index('Hattori Hanzō', 4) # Find next ninja starting at position 4

9

In [9]:
ninjas.reverse()

ninjas

['Hattori Hanzō',
 'Fujibayashi Nagato',
 'Momochi Sandayū',
 'Mochizuki Chiyome',
 'Fūma Kotarō',
 'Ishikawa Goemon',
 'Hattori Hanzō',
 'Yagyū Munetoshi',
 'Kumawakamaru',
 'Hattori Hanzō']

In [10]:
ninjas.reverse()

ninjas

['Hattori Hanzō',
 'Kumawakamaru',
 'Yagyū Munetoshi',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Fūma Kotarō',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Fujibayashi Nagato',
 'Hattori Hanzō']

In [11]:
ninjas.append('Kamiizumi Ise-no-Kami Nobutsuna')

ninjas

['Hattori Hanzō',
 'Kumawakamaru',
 'Yagyū Munetoshi',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Fūma Kotarō',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Fujibayashi Nagato',
 'Hattori Hanzō',
 'Kamiizumi Ise-no-Kami Nobutsuna']

In [12]:
ninjas.pop()

'Kamiizumi Ise-no-Kami Nobutsuna'

In [13]:
ninjas

['Hattori Hanzō',
 'Kumawakamaru',
 'Yagyū Munetoshi',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Fūma Kotarō',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Fujibayashi Nagato',
 'Hattori Hanzō']

In [14]:
ninjas.sort()
    
ninjas

['Fujibayashi Nagato',
 'Fūma Kotarō',
 'Hattori Hanzō',
 'Hattori Hanzō',
 'Hattori Hanzō',
 'Ishikawa Goemon',
 'Kumawakamaru',
 'Mochizuki Chiyome',
 'Momochi Sandayū',
 'Yagyū Munetoshi']

### Lists as stacks

In [15]:
ninjas = list(set(ninjas))

ninjas

['Kumawakamaru',
 'Ishikawa Goemon',
 'Mochizuki Chiyome',
 'Fūma Kotarō',
 'Yagyū Munetoshi',
 'Fujibayashi Nagato',
 'Momochi Sandayū',
 'Hattori Hanzō']

In [16]:
ninjas.append('Guido van Rossum')

ninjas

ninjas.insert(len(ninjas), 'Guido van Rossum')

ninjas

['Kumawakamaru',
 'Ishikawa Goemon',
 'Mochizuki Chiyome',
 'Fūma Kotarō',
 'Yagyū Munetoshi',
 'Fujibayashi Nagato',
 'Momochi Sandayū',
 'Hattori Hanzō',
 'Guido van Rossum',
 'Guido van Rossum']

In [17]:
ninjas.pop()

ninjas

['Kumawakamaru',
 'Ishikawa Goemon',
 'Mochizuki Chiyome',
 'Fūma Kotarō',
 'Yagyū Munetoshi',
 'Fujibayashi Nagato',
 'Momochi Sandayū',
 'Hattori Hanzō',
 'Guido van Rossum']

### Lists as queues

In [18]:
from collections import deque

queue = deque([
    'Hattori Hanzō',
    'Fūma Kotarō',
    'Momochi Sandayū'
])

queue

deque(['Hattori Hanzō', 'Fūma Kotarō', 'Momochi Sandayū'])

In [19]:
queue.append('Guido van Rossum')

queue

deque(['Hattori Hanzō', 'Fūma Kotarō', 'Momochi Sandayū', 'Guido van Rossum'])

In [20]:
queue.popleft()

queue

deque(['Fūma Kotarō', 'Momochi Sandayū', 'Guido van Rossum'])

#### insert(0, new) and pop(0)

In [21]:
ninjas.insert(0, 'Guido van Rossum')

ninjas

['Guido van Rossum',
 'Kumawakamaru',
 'Ishikawa Goemon',
 'Mochizuki Chiyome',
 'Fūma Kotarō',
 'Yagyū Munetoshi',
 'Fujibayashi Nagato',
 'Momochi Sandayū',
 'Hattori Hanzō',
 'Guido van Rossum']

In [22]:
ninjas.pop(0)

ninjas

['Kumawakamaru',
 'Ishikawa Goemon',
 'Mochizuki Chiyome',
 'Fūma Kotarō',
 'Yagyū Munetoshi',
 'Fujibayashi Nagato',
 'Momochi Sandayū',
 'Hattori Hanzō',
 'Guido van Rossum']

### List Comprehensions

In [23]:
quote = "You talkin' to me?".split()

data = list(map(lambda q: [q, q.title(), len(q)], quote))

data

[['You', 'You', 3],
 ["talkin'", "Talkin'", 7],
 ['to', 'To', 2],
 ['me?', 'Me?', 3]]

 * It is often preferable to use a list comprehension, because this is more efficient and easier to read, most of the time.

 * We can think of list comprehensions as syntactic sugar for a filter followed by a map.

In [24]:
quote = "You talkin' to me?".split()

data = [
    [
        q, 
        q.title(), 
        len(q)
    ]
    for q in quote
]

data

[['You', 'You', 3],
 ["talkin'", "Talkin'", 7],
 ['to', 'To', 2],
 ['me?', 'Me?', 3]]

In [25]:
numbers = range(1, 11)

odds = [
    n 
    for n in numbers 
    if n % 2 == 0
]

odds

[2, 4, 6, 8, 10]

#### Dynamic matrix

 * https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions

 * http://python-3-patterns-idioms-test.readthedocs.io/

In [26]:
matrix = [
    [
        1 if item_idx == row_idx else 0 
        for item_idx in range(0, 8)
    ]
    for row_idx in range(0, 8)
]

matrix

[[1, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 1]]

### Matrices

In [27]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[el - 1 for el in row] for row in matrix]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### Tuples

In [28]:
# Tuples are immutable.

data = (['2016-05-18T16:03:00Z', '2016-05-18T17:20:00Z', '2016-05-18T13:00:00Z'], [100, 2.5, 333])

payments = data[1];

conversion = [float(x) for x in payments]

result = list(zip(data[0], conversion))

result

[('2016-05-18T16:03:00Z', 100.0),
 ('2016-05-18T17:20:00Z', 2.5),
 ('2016-05-18T13:00:00Z', 333.0)]

In [29]:
# Yep, tuples are immutable.

data = (['2016-05-18T16:03:00Z', '2016-05-18T17:20:00Z', '2016-05-18T13:00:00Z'], [100, 2.5, 333])

# Lists are mutable.

mutable = list(data)

payments = data[1]

mutable[1] = [float(x) for x in payments]

tuples = list(zip(*mutable))

tuples

[('2016-05-18T16:03:00Z', 100.0),
 ('2016-05-18T17:20:00Z', 2.5),
 ('2016-05-18T13:00:00Z', 333.0)]

## Del

In [30]:
numbers = list(range(1, 11))

print(numbers)

del numbers[len(numbers) - 1]

print(numbers)

del numbers[0]

print(numbers)

del numbers[2:4]

print(numbers)

# []

del numbers[:]

print(numbers)

# Delete entire variable.

del numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 6, 7, 8, 9]
[]

## Immutable Tuples and Sequences

Are indexed by a range of numbers.

In [31]:
separated_by_commas = 333, 'three three three', [3, 6, 9], (3 ,6 ,9)

separated_by_commas

separated_by_commas[3]

separated_by_commas[3][2]

9

In [32]:
# It is possible to create tuples which contain mutable objects, such as lists.

my_tuple = ('cow', [333, 4, 6], (111, 222, 333))

# my_tuple[0] = 'dog'  =>  'tuple' object does not support item assignment.

my_tuple[1][0] = 2

# my_tuple[2][0] = 2  =>  'tuple' object does not support item assignment.

my_tuple

('cow', [2, 4, 6], (111, 222, 333))

In [33]:
first_tuple = 'one', 'two', 'three'

second_tuple = 1, 2, 3

third_tuple = 4.4, 5.5, 6.6

result = first_tuple + second_tuple + third_tuple

result

('one', 'two', 'three', 1, 2, 3, 4.4, 5.5, 6.6)

In [34]:
# Empty tuples are constructed by an empty pair of parentheses.

empty = ()

print(empty)

print(len(empty))

()
0

In [35]:
# A tuple with one item is constructed by following a value with a comma.

trailing_comma = 333,

print(trailing_comma)

print(len(trailing_comma))

(333,)
1

### Tuple Packing

In [36]:
vehicle = ('Tesla', 'Model 3', 2017)

print(vehicle)

(make, model, year) = vehicle

print(make, type(make))

print(model, type(model))

print(year, type(year))

('Tesla', 'Model 3', 2017)
Tesla <class 'str'>
Model 3 <class 'str'>
2017 <class 'int'>

In [37]:
# Swap the values of two variables.

min = 10

max = 1

(min, max) = (max, min)

print(min, type(min))

print(max, type(max))

1 <class 'int'>
10 <class 'int'>

In [38]:
# Tuples as return values.

def vehicle():
    get_make = 'Tesla'
    get_model = 'Model 3'
    get_year = 2017
    return (get_make, get_model, get_year)

(my_make, my_model, my_year) = vehicle()

print('{} {} {}'.format(my_make, my_model, my_year))

print('{2} {1} {0}'.format(my_make, my_model, my_year))

Tesla Model 3 2017
2017 Model 3 Tesla

## Sets

A set is an unordered collection with no duplicate elements.

In [39]:
# To create an empty set you have to use set(), not {}.

empty_set = set()

print(empty_set)

set()

In [40]:
chars = set('123,abc,abc,abc,123')

print(chars)

{'2', 'b', 'a', '1', ',', '3', 'c'}

In [41]:
unique = set([1,2,3,4,5,4,3,2,1])

print(unique)

unordered = {7, 9, 6, 8, 4, 5, 10}

print(unordered)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9, 10}

In [42]:
# Fast membership testing.

'1' in unique

False

In [43]:
1 in unique

True

In [44]:
# Fast membership testing.

10 in unordered

True

In [45]:
# Numbers in unique but not in unordered.

unique - unordered

{1, 2, 3}

In [46]:
# Numbers in unordered but not in unique.

unordered - unique

{6, 7, 8, 9, 10}

In [47]:
{x for x in unique if x not in [1, 2, 3]}

{4, 5}

### List, Tuple and Set

In [48]:
numbers = range(1, 11)

print(list(numbers))

print(tuple(numbers))

print(set(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Set Comprehensions

In [49]:
numbers = set(range(1, 11))

print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Dictionaries (associative memories or associative arrays)

Are indexed by keys, which can be any immutable type {'key': 'value'}.

In [50]:
person = {'name': 'Guido van Rossum', 'age': 61, 'occupation': 'Benevolent Dictator For Life'}

print(person['name'])

print(person['age'])

print(person['occupation'])

Guido van Rossum
61
Benevolent Dictator For Life

In [51]:
print(person)

{'name': 'Guido van Rossum', 'age': 61, 'occupation': 'Benevolent Dictator For Life'}

In [52]:
values = person.values()

print(values)

dict_values(['Guido van Rossum', 61, 'Benevolent Dictator For Life'])

In [53]:
keys = person.keys()

print(keys)

print(sorted(keys))

dict_keys(['name', 'age', 'occupation'])
['age', 'name', 'occupation']

In [54]:
items = person.items()

print(items)

dict_items([('name', 'Guido van Rossum'), ('age', 61), ('occupation', 'Benevolent Dictator For Life')])

In [55]:
print(list(items))

[('name', 'Guido van Rossum'), ('age', 61), ('occupation', 'Benevolent Dictator For Life')]

In [56]:
items = list(items)

print(items[0])

print(items[1])

print(items[2])

('name', 'Guido van Rossum')
('age', 61)
('occupation', 'Benevolent Dictator For Life')

In [57]:
name = person.get('name')

print(name)

Guido van Rossum

In [58]:
name = person.get('username', 'default')

print(name)

default

In [59]:
'age' in person

True

In [60]:
'username' in person

False

In [61]:
person['occupation'] = 'Author of Python'

print(person)

{'name': 'Guido van Rossum', 'age': 61, 'occupation': 'Author of Python'}

### Build a dictionary directly from sequences of simple key-value pairs

In [62]:
person = dict(
    [
        ('name', 'Guido van Rossum'), 
        ('age', 61), 
        ('occupation', 'Benevolent Dictator For Life')
    ]
)

print(person)

{'name': 'Guido van Rossum', 'age': 61, 'occupation': 'Benevolent Dictator For Life'}

### Use a dict comprehension to create a dictionarys from arbitrary key and value expressions

In [63]:
keys = ['name', 'age', 'occupation']

values = ['Guido van Rossum', 61, 'Author of Python']

print(keys)

print(values)

['name', 'age', 'occupation']
['Guido van Rossum', 61, 'Author of Python']

In [64]:
dictionary = dict(zip(keys, values))

print(dictionary)

{'name': 'Guido van Rossum', 'age': 61, 'occupation': 'Author of Python'}

In [65]:
# Dictionary Comprehension.

dictionary = { k:v for (k,v) in zip(keys, values)}

print(dictionary)

{'name': 'Guido van Rossum', 'age': 61, 'occupation': 'Author of Python'}

In [66]:
d = {'a':1,'b':2,'c':3}

d = {k: v for (k, v) in d.items() if v > 2}

print(d)

{'c': 3}

In [67]:
d = {'a':1,'b':2,'c':3}

d = {k + 'c': v * 2 for (k, v) in d.items() if v > 2}

print(d)

{'cc': 6}

### Combine multiple dictionaries

In [68]:
user = {'name': 'Guido van Rossum', 'website': 'https://gvanrossum.github.io/'}

defaults = {'name': "Benevolent Dictator For Life", 'page_name': 'Personal Home Page'}

context = {**defaults, **user}

print(context)

{'name': 'Guido van Rossum', 'page_name': 'Personal Home Page', 'website': 'https://gvanrossum.github.io/'}

## Looping Techniques

In [69]:
game = enumerate(['tic', 'tac', 'toe'])

print(list(game))

[(0, 'tic'), (1, 'tac'), (2, 'toe')]

In [70]:
# Through a sequence.

game = enumerate(['tic', 'tac', 'toe'])

for i, v in game:
    print(i, v)

0 tic
1 tac
2 toe

In [71]:
# Over two or more sequences at the same time.

questions = ['What is your name', 'What do you do', 'What would you like to drink']

answers = ['Guido van Rossum', 'A Benevolent Dictator For Life', 'Beer']

# The entries can be paired with the zip() function.

for q, a in zip(questions, answers):
    print('What is your {0}? {1}.'.format(q, a))

What is your What is your name? Guido van Rossum.
What is your What do you do? A Benevolent Dictator For Life.
What is your What would you like to drink? Beer.

In [72]:
group = {'Animalia': 'Linnaeus', 'Plantae': 'Haeckel', 'Fungi': 'Whittaker', 'Bacteria' : 'Cavalier-Smith'}

for k, v in group.items():
    print(k, ' => ', v)

Animalia  =>  Linnaeus
Plantae  =>  Haeckel
Fungi  =>  Whittaker
Bacteria  =>  Cavalier-Smith

In [73]:
kingdoms = ['Bacteria', 'Archaea', 'Protozoa', 'Chromista', 'Plantae', 'Fungi', 'Animalia']

for f in sorted(set(kingdoms)):
    print(f)

Animalia
Archaea
Bacteria
Chromista
Fungi
Plantae
Protozoa

It is sometimes tempting to change a list while you are looping over it; however, it is often simpler and safer to create a new list instead.

In [74]:
import math

raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]

print(raw_data)

filtered_data = []

for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

print(filtered_data)

print(sorted(filtered_data))

[56.2, nan, 51.7, 55.3, 52.5, nan, 47.8]
[56.2, 51.7, 55.3, 52.5, 47.8]
[47.8, 51.7, 52.5, 55.3, 56.2]

## Conditions

 * Sequence: `in` and `not` in check whether a value occurs (does not occur).


 * Lists: `is` and `is not` compare whether two objects are really the same object.


 * All comparison operators have the same priority, which is lower than that of all numerical operators.


 * Comparisons can be chained. For example, `a < b == c` tests whether a is less than b and moreover b equals c.


 * Comparisons may be combined using the Boolean operators `and` and `or`, and the outcome of a comparison (or of any other Boolean expression) may be negated with `not`. These have lower priorities than comparison operators; between them, `not` has the highest priority and `or` the lowest, so that `A and not B or C` is equivalent to `(A and (not B)) or C`. As always, parentheses can be used to express the desired composition.


 * The Boolean operators `and` and `or` are so-called short-circuit operators: their arguments are evaluated from left to right, and evaluation stops as soon as the outcome is determined. For example, if A and C are true but B is false, A and B and C does not evaluate the expression C. When used as a general value and not as a Boolean, the return value of a short-circuit operator is the last evaluated argument.

In [75]:
string1, string2, string3 = '', 'Guido', 'van Rossum'

non_null = string1

print(' string1 => ', non_null)

non_null = string2

print(' string2 => ', non_null)

non_null = string1 or string2

print(' string1 or string2 => ', non_null)

non_null = string1 or string2 or string3

print(' string1 or string2 or string3 => ', non_null)

 string1 =>
 string2 =>  Guido
 string1 or string2 =>  Guido
 string1 or string2 or string3 =>  Guido

## Comparing Sequences and Other Types

 * Sequence objects may be compared to other objects with the same sequence type. 


 * The comparison uses lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted. 


 * If two items to be compared are themselves sequences of the same type, the lexicographical comparison is carried out recursively. 


 * If all items of two sequences compare equal, the sequences are considered equal. 


 * If one sequence is an initial sub-sequence of the other, the shorter sequence is the smaller (lesser) one. 


 * Lexicographical ordering for strings uses the Unicode code point number to order individual characters.

In [76]:
(1, 2, 3) < (1, 2, 4)

True

In [77]:
(1, 2, 5) < (1, 2, 4)

False

In [78]:
[1, 2, 3] < [1, 2, 4]

True

In [79]:
[1, 2, 5] < [1, 2, 4]

False

In [80]:
'ABC' < 'A'

False

In [81]:
'ABC' < 'B'

True

In [82]:
'ABC' < 'C'

True

In [83]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [84]:
(1, 2) < (1, 2, -1)

True

In [85]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [86]:
(1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4)

True